Django==4.1.2
django-cms==4.1.1
gcloud==4.36.0
google-cloud-storage==2.6.0
google-cloud-bigquery==3.2.1
google-cloud-logging==4.3.0
google-cloud-monitoring==3.1.0
google-cloud-pubsub==3.1.0
google-cloud-secret-manager==2.1.0
google-cloud-spanner==4.36.0
google-cloud-translate==4.3.1
google-cloud-vision==2.6.0
Pillow==9.2.0
psycopg2==2.9.3
PyJWT==2.4.0
six==1.16.0

